.title{
    color: lightseagreen;
    background-color: red;
}
.text{
    color:lightblue;
    background-color:red;
}
.text-1{
    color:lightblue;
    background-color: red;
}
.text-2{
    color: lightblue;
    background-color: red;
}
.text-3{
    color: lightblue;
    background-color: red;
}
.text-4{
    color: lightblue;
    background-color: red;
}
.text-5{
    color: blue;
    background-color: red;
}
.text-6{
    color: blueviolet;
    background-color: red;
}
.text-7{
    color: brown;
    background-color: red;
}
.text-8{
    color: aqua;
    background-color: red;
}
.subtitle{
    background-color: aquamarine;
}
.moon{
    background-color: aqua;
}
.text-a{
    background-color: aqua;
}
.mercury{
    background-color: chartreuse;
}
.text-b{
    background-color: aquamarine;
}
.mars{
    background-color: aquamarine;
}
.text-c{
    background-color: aqua;
}
.venus{
    background-color: blue;
}
.text-d{
    background-color: coral;
}
.jupiter{
    background-color: cornflowerblue;
}
.text-e{
    background-color: cyan;
}
.saturn{
    background-color: blue;
}
.text-f{
    background-color: blueviolet;
}
.uranus{
    background-color: darkkhaki;
}
.text-g{
    background-color: cadetblue;
}
.neptune{
    background-color: cyan;
}
.text-h{
    background-color: crimson;
}
.pluto{
    background-color: brown;
}
.text-i{
    background-color: cornflowerblue;
}
